#verify-btn{
  position:absolute;
  right: 10px;
  margin-top: 5px;
  /* clear: both; */
  /* margin-top: 5px; */
}
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
Stat{
margin-right: 2px;
border: 2px solid red;
}
header{
  display: flex;
  justify-content: right;
  background-color: black;
  align-items: center;
  padding: 10px;
}
header >a {
text-decoration: none;
color: white;
margin: 1rem;
}
#logo{
  position: absolute;
  top: 10px;
  left: 3%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width:800px) {
  html{
    font-size: 12px;
  }
}
@media screen and (max-width:500px) {
  html{
    font-size: 10px;
  }
}